extends ../layout
block content
  include ../templates/nav
  div(class=['ui', 'container', 'grid', 'stackable'])
    div(class=['sixteen', 'wide', 'column'])

      h2(class=['ui', 'header', 'blue', 'dividing'])= 'Lista de Productos'
  
      table(class=['ui', 'table', 'celled'] id = 'tbl-productos')
        thead
            tr
                th='ID'
                th='Nombre'
                th='Precio'
                th='Stock'
                th='Fecha de Creacion'
                th='Acciones'
        tbody
            each producto in productos
              tr
                td= producto.id_producto
                td= producto.nombre
                td= producto.precio
                td= producto.stock
                td= producto.fecha_creacion
                td= 'Eliminar Modificar'


